<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   
   
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.kit.kastel.eclipse.grading.view.assessment.ArtemisGradingView"
            id="edu.kit.kastel.eclipse.grading.view.assessment.ArtemisGradingView"
            name="Artemis Grading"
            restorable="true">
      </view>
   </extension>
<extension
         point="org.eclipse.ui.perspectives">
         <perspective
            class="edu.kit.kastel.eclipse.grading.view.perspective.Perspective"
            fixed="false"
            id="edu.kit.kastel.eclipse.grading.view.perspective.Perspective"
            name="Artemis Grading">
      </perspective>
   </extension>
</plugin>
