<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="view.assessment.marker"
         name="Assessment Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="start">
      </attribute>
      <attribute
            name="end">
      </attribute>
      <attribute
            name="className">
      </attribute>
      <attribute
            name="errorType">
      </attribute>
      <attribute
            name="ratingGroup">
      </attribute>
      <attribute
            name="customPenalty">
      </attribute>
      <attribute
            name="customMessage">
      </attribute>
      <attribute
            name="errorTypeDescription">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="view.assessment.marker"
            name="Assessment Annotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="Assessment Annotation"
            colorPreferenceKey="key1"
            colorPreferenceValue="192,255,192"
            highlightPreferenceKey="key5"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Assessment Annotation"
            overviewRulerPreferenceKey="key2"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="key4"
            textPreferenceValue="true"
            textStylePreferenceKey="key20"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="key3"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.kit.kastel.eclipse.grading.view.marker.AssessmentMarkerView"
            id="edu.kit.kastel.eclipse.grading.view.marker.AssessmentMarkerView"
            name="Assessment Annotations"
            restorable="true">
      </view>
      <view
            class="edu.kit.kastel.eclipse.grading.view.assessment.ArtemisGradingView"
            id="edu.kit.kastel.eclipse.grading.view.assessment.ArtemisGradingView"
            name="Artemis Grading"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            id="view.annotationMarkerGenerator"
            name="Assessment Marker View Generator">
         <markerTypeReference
               id="view.assessment.marker">
         </markerTypeReference>
         <markerFieldReference
               id="view.marker.className">
         </markerFieldReference>
         <markerFieldReference
               id="view.markerPositionField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="view.marker.ratingGroupField">
         </markerFieldReference>
         <markerFieldReference
               id="view.markerErrorTypeField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="view.marker.customErrorTypeDescription">
         </markerFieldReference>
         <markerFieldReference
               id="view.marker.customMessageField">
         </markerFieldReference>
         <markerFieldReference
               id="view.marker.customPenalty">
         </markerFieldReference>
      </markerContentGenerator>
      <markerField
            class="edu.kit.kastel.eclipse.grading.view.marker.AssessmentMarkerPositionField"
            id="view.markerPositionField"
            name="Position">
      </markerField>
      <markerField
            class="edu.kit.kastel.eclipse.grading.view.marker.AssessmentRatingGroupField"
            id="view.marker.ratingGroupField"
            name="Rating Group ">
      </markerField>
      <markerField
            class="edu.kit.kastel.eclipse.grading.view.marker.AssessmentErrorTypeField"
            id="view.markerErrorTypeField"
            name="Error Type">
      </markerField>
      <markerField
            class="edu.kit.kastel.eclipse.grading.view.marker.AssessmentErrorTypeDescriptionField"
            id="view.marker.customErrorTypeDescription"
            name="Error Type Description">
      </markerField>
      <markerField
            class="edu.kit.kastel.eclipse.grading.view.marker.AssessmentMarkerCustomMessageField"
            id="view.marker.customMessageField"
            name="Custom Message">
      </markerField>
      <markerField
            class="edu.kit.kastel.eclipse.grading.view.marker.AssessmentMarkerClassNameField"
            id="view.marker.className"
            name="Class Name">
      </markerField>
      <markerField
            class="edu.kit.kastel.eclipse.grading.view.marker.AssessmentMarkerCustomPenalyField"
            id="view.marker.customPenalty"
            name="Custom Penalty">
      </markerField>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.kit.kastel.eclipse.grading.view.preferences.ArtemisGradingPreferencesPage"
            id="view.preferences.SamplePreferencePage"
            name="Artemis Grading">
      </page>
   </extension>
   <extension
         name="Artemis Grading"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.kit.kastel.eclipse.grading.view.preferences.PreferenceInitializer">
      </initializer>
   </extension>
<extension
         point="org.eclipse.ui.perspectives">
         <perspective
            class="edu.kit.kastel.eclipse.grading.view.perspective.Perspective"
            fixed="false"
            id="edu.kit.kastel.eclipse.grading.view.perspective.Perspective"
            name="Artemis Perspective">
      </perspective>
   </extension>
</plugin>
