<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<requires>
		<import plugin="org.eclipse.core.resources"/>
	</requires>
	
    <extension
        point="org.eclipse.ui.commands">
        <category
            id="testplugin_bookmarks.commands.category"
            name="Bookmarks">
        </category>
        <command
            categoryId="org.eclipse.ui.category.edit"
            id="testplugin_bookmarks.commands.toggleBookmark"
            name="Toggle Bookmark">
        </command>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="testplugin_activateByShortcut.ShortcutHandler"
            commandId="testplugin_bookmarks.commands.toggleBookmark">
        </handler>
    </extension>
    <extension
        point="org.eclipse.ui.bindings">
        <key
            commandId="testplugin_bookmarks.commands.toggleBookmark"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Ü">
        </key>
    </extension>
</plugin>
